html, body {
  height: 100%;
  width: 100%;
}








@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body  {
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
  background-size:cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}

.center
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}
.center h1{
  text-align:center;
  color:white;
  font-family: 'Source Code Pro', monospace;
  text-transform:uppercase;
}









.nav-item {
  float: left;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 17px;
  margin-left: 100px;
}

.nav-item:hover {
  background-color:rebeccapurple;
}

.nav-item.active {
  background-color: crimson;
}

p {
  color:antiquewhite;
  font-size:28px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.row {
  margin:2px; 
  padding: 2px;
}

a img {
  height:30%;
  width:30%;
}

.cimg {
  width: 1366px;
  height: 618px;
}

button {
  margin:50px;
  padding:50px;
}

.hpbh {
  height: 300px;
  width: 400px;
}

.hpbh :hover {
  background-color:antiquewhite;
  color:skyblue;
}

button: hover {
  background-color:purple;
  color:blue;
}

.contentWrapper {
	padding: 0 20px;
	margin: 0 auto;
	position: relative;
  color: white;
}

#signUp {
	margin-top: 50px;
  margin-bottom: 50px;
	padding: 0 20px 15px 20px;
	border: 1px solid #bbb;
  opacity:50%;
}

.textfield {
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
	padding: 7px;
	background: #efefef;
	border: 1px solid #bbb;
	width: 97%;
}

#submit {
	display: block;
	font-size: 1em;
	color: #FFF;
	text-transform: uppercase;
	background: #a2a50d;
	padding: .8em 1em .7em;
	border: 0;
	border-bottom: 3px solid #7d820c;
	margin-top: 15px;
}